.ssh/id_rsa*
.ssh/known_hosts*
.gnupg/private-keys-v1.d
.gnupg/*.gpg*
.gnupg/random_seed
.gnupg/crls.d
.gnupg/pubring.kbx
.imapfilter/certificates
.noipupdater/log
.noipupdater/cache
.weechat/certs
.weechat/logs
.weechat/*.log
.weechat/script
.weechat/perl
.weechat/python
.weechat/sec.conf
