[user]
	name = Theo Chatzimichos
	email = tampakrap@gmail.com
	signingkey = 0xC9DA5BE037C3164C
[color]
	ui = true
[push]
	default = simple
[alias]
	l = log --graph --format='%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(green)(%ar) %C(bold blue)<%an>%Creset'
	lb = log --graph --format='%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(green)(%ad) %C(bold blue)%an <%ae>%Creset %n %b'
	forkbomb = gitlab merge $(git rev-parse --abbrev-ref HEAD) production
	merge-request = gitlab merge $(git rev-parse --abbrev-ref HEAD)
[core]
	excludesfile = /home/tampakrap/.gitignore_global
